<form #form="ngForm">
    <div class="card">
        <div class="card-header">
          Login
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="txtUserName">User name</label>
                <input type="text" class="form-control" id="txtUsername" name="userName" [(ngModel)]="user.userName"
                        required #nameField="ngModel">
                <div [hidden]="nameField.valid || nameField.untouched" class="alert alert-danger">
                    Enter a name
                </div>
            </div>
            <div class="form-group">
                <label for="txtPassword">Password</label>
                <input type="password" class="form-control" id="txtPassword" name="password" [(ngModel)]="user.password"
                        required #passwordField="ngModel" >
                <div [hidden]="passwordField.valid || passwordField.untouched" class="alert alert-danger">
                    Enter a valid password
                </div>                
            </div>
            <button type="button" class="btn btn-secondary btn-sm" (click)="onSubmit(form)">Login</button>
        </div>
      </div>
</form>